<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/buildingSMARTLibrary/src/nl/tue/buildingsmart/emf/Ifc2x3tc1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="nl.tue.buildingsmart.emf.Ifc2x3tc1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="buildingSMARTLibrary"/>
</launchConfiguration>
