<?xml version="1.0" encoding="UTF-8" standalone="yes"?><jarSettings><jvm>/Users/RickMarker/Documents/BIMServerEmbedding/BimServer/./www</jvm><homedir>/Users/RickMarker/Documents/BIMServerEmbedding/BimServer/home</homedir><address>localhost</address><port>8082</port><heapsize>1024m</heapsize><permsize>256m</permsize><stacksize>1024k</stacksize></jarSettings>